.card {
  min-height: 300px;
  border-radius: 10px;
  display: flex;
  align-items: end;
  overflow: hidden;
  text-decoration: none;
  color: #000;

  .bottom {
    background-color: #fff;
    width: 100%;
    padding: 20px;
  }
}
